@import "config";

//header styles

#main-header {
  background: url("../img/main-background.jpg") no-repeat center center / cover;
  height: 100vh;
  position: relative;
  padding: 2rem;

  &::before {
    //header overlay
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
  }

  &-content {
    position: relative;
    margin-top: 15%;

    h3,
    .fas {
      margin-bottom: 0.4rem;
      text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.5);
    }

    .login {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 30%;
        margin: auto;
        font-size: 1rem;
        padding: 0.5rem 0.7rem;
        border-radius: 6px;
      }

      .text-input {
        margin-bottom: 1rem;
        border: 1px $mediumColor solid;

        &:first-child {
          margin-top: 2rem;
        }

        &:focus {
          border-radius: 6px;
          border: 1px $primaryColor solid;
        }
      }
    }
  }

  &-inside {
    //navbar outside the index page
    background: url("../img/main-background.jpg") no-repeat 50% 50% / cover;
    height: 6.3rem;
    position: relative;
    padding: 2rem;
    border-bottom: 2px $primaryColor solid;

    &::before {
      //header overlay
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.3);
    }
  }
}

#navbar {
  //navbar section
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;

  .logo {
    //logo style
    h1 {
      font-size: 2rem;
      text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.3),
        1px -3px 8px rgba($color: #000000, $alpha: 0.3);

      .fas {
        color: $lightColor;
      }
    }
  }
  .nav-list {
    //link list in the navbar
    display: flex;

    a {
      padding: 0.6rem;
      margin-right: 3rem;
      color: $lightColor;
      text-transform: uppercase;
      font-size: 1.1rem;
      transition: color 0.8s;

      &:hover {
        color: $secondaryColor;
        border-bottom: 3px solid $mediumColor;
      }
    }
  }
}

//about section - first section of the about page
#about {
  .about-content {
    display: grid;
    grid-template-areas:
      "picture1 text text"
      "picture2 text text";
    gap: 1rem;
  }

  h1 {
    //heading of about section
    margin-bottom: 0.3rem;
  }

  .bottom-line {
    width: 7rem;
    margin-bottom: 2rem;
    background: $secondaryColor;
  }
  .picture {
    //div with image and paragraph box
    padding: 0.5rem 0.7rem;
    position: relative;

    .text-box {
      //div with paragraph box
      padding: 0.6rem 0.8rem 0 0.8rem;
      border: 2px dashed $primaryColor;
      border-radius: 5px;
      margin: 0 1rem;

      p {
        font-size: 0.9rem;
        text-align: justify;
      }
    }
    &:nth-of-type(1) {
      grid-area: picture1;
    }

    &:nth-of-type(2) {
      grid-area: picture2;
    }

    .image {
      //div with image
      position: relative;
      margin: 0 0 0.7rem 0;
      img {
        width: 100%;
        display: inline-block;

        border-radius: 4%;
      }
      &:before {
        //overlay to darken image and improve gama
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background: rgba($color: #000000, $alpha: 0.1);
        border-radius: 4%;
        z-index: 1;
      }
    }
  }

  .about-text {
    //div with the about text
    grid-area: text;

    p {
      text-align: justify;
      margin-bottom: 1rem;

      &:first-child {
        padding-top: 1rem;
      }
    }
  }
}

//Our mission section  - second section from the about page

#our-mission {
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  p:nth-of-type(2) {
    margin-bottom: 1rem;
  }

  p:nth-of-type(3) {
    font-size: 1.2rem;
  }
}

//Awards Section - third section from the abour page

#awards {
  .awards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    p {
      text-align: center;
      color: #eef4d4;
    }
  }

  div {
    padding: 1rem;

    .medal {
      padding: 1rem;
      background: #eef4d4;
      height: 7rem;
      width: 7rem;
      margin: 0 auto 0.7rem auto;
      border-radius: 50%;

      .fas {
        margin-top: 0.6rem;
        color: $primaryColor;
      }
    }

    h2 {
      margin: 0 auto 1rem auto;
      width: 10rem;
    }
  }
}

//news section

#news {
  .bottom-line {
    margin-bottom: 2rem;
  }

  .news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1.5rem;
    margin-top: 1.5rem;

    img {
      width: 100%;
    }

    & > div {
      //general divs
      background: #fff;
      padding: 1rem;

      h3 {
        margin-bottom: 0.3rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }

    .news {
      &-a {
        //first block, bigger block
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 1rem;

        h2 {
          margin-bottom: 0.6rem;
        }

        p {
          margin-bottom: 1rem;
        }

        .news-text {
          grid-column: 2 / span 3;
        }
      }

      &-c {
        display: flex;
        flex-direction: column;

        .image {
          order: 2;
          margin-top: 1.2rem;
        }

        .news-text {
          order: 1;
        }
      }

      &-e {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        .image {
          margin: auto;
          grid-column: 1 / span 2;
        }

        .news-text {
          grid-column: 3 / span 5;
        }
      }

      &-f {
        grid-column: 3;
        grid-row: 3 / 5;
        display: flex;
        flex-direction: column;

        .image {
          order: 2;
          margin-top: 1.2rem;
        }

        .news-text {
          order: 1;
        }
      }

      &-g {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        .image {
          margin: auto;
          grid-column: 4 / span 5;
          grid-row: 1;
        }

        .news-text {
          grid-column: 1 / span 3;
          grid-row: 1;
        }
      }
    }
  }
}

//stats section - second section of the stats page

#stats {
  h2 {
    font-size: 2.7rem;
  }

  .bottom-line {
    background: $secondaryColor;
    margin-top: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .stats-container {
    padding: 2rem;
    border: 2px rgba($color: #53c43b, $alpha: 0.05) dashed;
    border-radius: 7px;

    h4 {
      font-size: 1.2rem;
      margin-top: 0.6rem;

      &:first-child {
        margin-top: 0;
      }
    }
    .bar {
      margin-top: 0.3rem;
      width: 100%;
      height: 1rem;
      background: rgba($color: #eef4d4, $alpha: 0.08);
      border-radius: 5px;

      &-fill {
        background: $primaryColor;
        border-radius: 5px;
      }
    }
  }
}

//talents section - third section at the news page

#talents {
  display: flex;

  .side {
    &-a {
      padding: 3rem;
      flex: 1;
      background: $primaryColor;

      h1 {
        font-family: $secondaryFont;
        &:first-child {
          color: #cccddd;
          margin-bottom: 0.6rem;
        }
        &:nth-child(2) {
          font-size: 3.2rem;
        }
      }
    }
    &-b {
      padding: 1.6rem 3rem;
      flex: 3;
      max-width: 60vw;

      h2 {
        margin-bottom: 0.7rem;
      }

      a {
        color: $primaryColor;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}

//Article page - articles from the news grid

#article-page {
  img {
    width: 100%;
  }

  .news-page {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1.5rem;

    & > *:first-child {
      grid-row: 1 / span 3;
    }

    .main-article {
      grid-column: 1;
      padding: 1rem;

      h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba($color: #444, $alpha: 0.05);
        padding: 0.5rem 0.9rem;
        margin-bottom: 1rem;

        p {
          margin-bottom: 0;
        }

        p:nth-child(2) {
          color: #555;
        }

        .fas {
          margin-right: 0.5rem;
        }
      }
    }

    .column-two {
      padding: 1rem;

      h3 {
        margin-bottom: 0.6rem;
      }
      p {
        margin-bottom: 0.6rem;
      }
    }
  }
}

//Troubleshooting Page

#troubleshooting {
  min-height: 100vh;

  .bottom-line {
    background: $secondaryColor;
  }

  .help-form {
    form {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 1rem;

      div:nth-of-type(4) {
        grid-column: 1 / span 2;
        grid-row: 3;
        textarea {
          width: 100%;
          height: 77%;
          margin-top: 0.2rem;
          padding: 1rem;
          border: 1px $primaryColor solid;
          border-radius: 5px;

          &:focus {
            border-color: $secondaryColor;
          }
        }
      }

      div:last-child {
        grid-row: 4;
        grid-column: 1 / span 2;
        margin: 1rem auto 0 auto;
      }

      label {
        display: block;
        font-size: 1.1rem;
        margin-left: 0.2rem;
        margin-bottom: 0.4rem;
      }
      input {
        width: 100%;
        padding: 0.5rem 0.8rem;
        border: 1px $primaryColor solid;
        border-radius: 5px;

        &:focus {
          border-color: $secondaryColor;
        }
      }
    }
  }
}

//footer styles

#main-footer {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  p {
    color: $lightColor;
  }

  div {
    // footer all divs
    p {
      font-size: 0.9rem;
    }

    h3 {
      margin-bottom: 0.8rem;
      margin-top: 1rem;
      padding-bottom: 0.3rem;
    }

    &.logo {
      margin-bottom: 0.8rem;

      .fas {
        color: $lightColor;
      }
    }
  }

  div:nth-child(2) {
    //footer second div
    a {
      color: $primaryColor;

      &[class^="btn-"] {
        color: $darkColor;
        margin-top: 0.6rem;
        &:hover {
          color: $darkColor;
        }
      }

      &:hover {
        color: $secondaryColor;
      }
    }
  }

  div:nth-child(3) {
    //footer third div
    li {
      a {
        color: $mediumColor;

        &:hover {
          color: $secondaryColor;
        }
      }
      padding: 0.5rem 0 0.8rem 0;
      border-bottom: 1px dotted rgba($color: #eef4d4, $alpha: 0.07);
      width: 70%;

      &:last-child {
        border: none;
      }
    }
  }

  div:last-child {
    //footer last div
    grid-column: 1 / span 3;

    .footer-info {
      background: rgba($color: #eef4d4, $alpha: 0.05);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 1rem;

      p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
      }
      .social {
        display: flex;

        .social-icon {
          padding: 0.4rem 0.6rem;
          border: 1px dashed rgba($color: #eef4d4, $alpha: 0.4);
          border-radius: 50%;
          margin-right: 0.8rem;
          transition: all 1s;

          a {
            display: block;
            width: 100%;
            height: 100%;
            transition: all 1s;
          }

          &:hover {
            background: $primaryColor;
            cursor: pointer;
          }
        }

        .fab {
          color: $mediumColor;
        }
      }
    }
  }
}

@import "media";
